@import './home.css';
@import './menu.css';
@import 'category.css';
@import 'productAdd.css';
@import 'productHome.css';
@import 'productList.css';
@import 'productDetail.css';

body {
    background-image: url('/public/notes.jpg') ;
}

hr {
    height: 10px;
    background-color: rgba(0, 0, 0, 0.22);
    border: none;

}

tr, th {
    border: 1px solid#000000;
    padding: 1rem;
    width: 40em;
    border-radius: 10px;
    color: black;
}

td {
    border-radius: 10px;
    height: 250px;
}

thead, tfoot {
    background-color: rgba(255, 255, 255, 0.5);
    color: #ffffff;
    border-radius: 10px;
}

.bordered {
    border: 1px solid rgb(56, 56, 56);
    margin-bottom: 1px;
    background-color: rgba(255, 255, 255, 0.5);
}

table {
    padding: 1rem;
    width: 40em;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

tbody {
    border-radius: 10px;
}

h1 {
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px;
    width: 500px;
    border-radius: 10px;
}
