*{
    margin: 0;
}

.menu {
    font-size: 2.5em;
    backdrop-filter: blur(10px);
    font-family: Tahoma, sans-serif;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 200px;
    margin-left: 200px;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}


.activeLink {
    font-weight: bold;
    color: #ef4e39;
}